.base {
  margin-bottom: var(--iris-form-gap);
}

.selectBase {
  position: relative;
}

.select {
  width: 100%;
  height: 3.5rem;
  padding: 1.5rem 2.5rem 0.5rem 0.875rem;
  border: 1px solid var(--iris-color-form-stroke-enabled);
  border-radius: var(--iris-radius-sm);
  font-family: var(--iris-font-regular);
  font-size: var(--iris-font-size-base);
  transition: border-color 0.2s;
  background-color: var(--iris-color-white);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.select:focus {
  outline: 3px solid var(--iris-color-form-stroke-focus-ring);
  outline-offset: 0px;
  border-color: var(--iris-color-form-stroke-focus) !important;
}

.disabled {
  background-color: var(--iris-color-form-fill-disabled);
  border-color: var(--iris-color-form-stroke-disabled);
  color: var(--iris-color-form-text-disabled);
  cursor: not-allowed;
}

.select:hover:not(.disabled) {
  border-color: var(--iris-color-form-stroke-hover);
}

.selectOpen {
  outline: 3px solid var(--iris-color-form-stroke-focus-ring);
  outline-offset: 0px;
  border-color: var(--iris-color-form-stroke-focus);
}

.label {
  position: absolute;
  left: 0.8125rem;
  top: 50%;
  transform: translateY(-50%);
  font-family: var(--iris-font-regular);
  font-size: var(--iris-font-size-base);
  color: var(--iris-color-form-text-placeholder);
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}

.labelFloating {
  left: 0.9375rem;
  top: 0.9375rem;
  /* transform: translateY(0); */
  font-family: var(--iris-font-medium);
  font-size: var(--iris-font-size-sm);
  color: var(--iris-color-form-text-label);
}

.arrow {
  position: absolute;
  right: 0.875rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: var(--iris-color-form-text-placeholder);
  transition: transform 0.2s;
}

.arrowOpen {
  transform: translateY(-50%) rotate(180deg);
}

.dropdown {
  position: absolute;
  top: calc(100% + 0.25rem);
  left: 0;
  right: 0;
  background-color: var(--iris-color-white);
  border: 1px solid var(--iris-color-form-stroke-enabled);
  border-radius: var(--iris-radius-sm);
  /* box-shadow: 0 8px 16px var(--iris-color-neutral-300); */
  list-style: none;
  margin: 0;
  padding: 4px 4px 0px 4px;
  /* max-height: 15rem; */
  overflow-y: auto;
  z-index: 1000;
}

.option {
  padding: 1rem 1rem;
  font-family: var(--iris-font-regular);
  font-size: var(--iris-font-size-base);
  color: var(--iris-color-neutral-700);
  cursor: pointer;
  transition: background-color 0.2s;
  margin-bottom: 4px;
  border-radius: 4px;
}

.option:hover {
  color: var(--iris-color-neutral-800);
  background-color: var(--iris-color-neutral-200);
}

.optionSelected {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem;
  color: var(--iris-color-neutral-800);
  background-color: var(--iris-color-neutral-200);
}

.error {
  margin: var(--iris-form-gap-sm) 0 var(--iris-form-gap) 0;
  color: var(--iris-color-form-text-invalid, #d9230c);
  font-family: var(--iris-font-regular);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
}

.selectError {
  border-color: var(--iris-color-form-stroke-invalid);
  color: var(--iris-color-form-text-invalid);
  background-color: var(--iris-color-form-fill-invalid);
}

.selectError:hover {
  border-color: var(--iris-color-form-stroke-invalid) !important;
}

.selectError ~ .label {
  color: var(--iris-color-form-text-invalid);
}

.selectError:focus {
  outline: 3px solid var(--iris-color-form-stroke-invalid-focus-ring);
  border-color: var(--iris-color-form-stroke-invalid) !important;
}

.selectError ~ .arrow svg path {
  stroke: var(--iris-color-red-600);
}
