:root {
  --iris-font-regular: "Regular", sans-serif;
  --iris-font-medium: "Medium", sans-serif;
  --iris-font-size-base: 1rem;
  --iris-font-size-sm: 0.8125rem;
  --iris-font-size-md: 1rem;
  --iris-font-size-lg: 1.125rem;
  --iris-form-gap-sm: 0.5rem;
  --iris-form-gap: 0.75rem;
  --iris-color-neutral-100: #f9fcff;
  --iris-color-neutral-200: #eef2f9;
  --iris-color-neutral-300: #dde1ea;
  --iris-color-neutral-400: #c5cbd6;
  --iris-color-neutral-500: #a7aebc;
  --iris-color-neutral-600: #848c9d;
  --iris-color-neutral-700: #5c667a;
  --iris-color-neutral-800: #323d54;
  --iris-color-neutral-900: #08122b;
  --iris-color-neutral-wcag45: #6d7588;
  --iris-color-neutral-wcag3: #8d95a5;
  --iris-color-orange-100: #fffb98;
  --iris-color-orange-200: #ffef86;
  --iris-color-orange-300: #ffdb66;
  --iris-color-orange-400: #ffbe31;
  --iris-color-orange-500: #ff9600;
  --iris-color-orange-600: #f36b00;
  --iris-color-orange-700: #e84300;
  --iris-color-orange-800: #df1400;
  --iris-color-orange-900: #d90000;
  --iris-color-indigo-100: #f4fcff;
  --iris-color-indigo-200: #def1fa;
  --iris-color-indigo-300: #baddf0;
  --iris-color-indigo-400: #8ac0e3;
  --iris-color-indigo-500: #5099d3;
  --iris-color-indigo-600: #0066be;
  --iris-color-indigo-700: #0013a2;
  --iris-color-indigo-800: #000083;
  --iris-color-indigo-900: #0d005c;
  --iris-color-red-100: #fffaf8;
  --iris-color-red-200: #ffeae4;
  --iris-color-red-300: #fdd0c3;
  --iris-color-red-400: #f7aa96;
  --iris-color-red-500: #ec775f;
  --iris-color-red-600: #d9230c;
  --iris-color-red-700: #b90000;
  --iris-color-red-800: #8b0000;
  --iris-color-red-900: #550000;
  --iris-color-green-100: #f6fdfc;
  --iris-color-green-200: #daf6f2;
  --iris-color-green-300: #a9eae1;
  --iris-color-green-400: #52d9ca;
  --iris-color-green-500: #00c1ad;
  --iris-color-green-600: #00a08b;
  --iris-color-green-700: #007565;
  --iris-color-green-800: #00564b;
  --iris-color-green-900: #003430;
  --iris-radius-sm: 8px;
  --iris-radius-md: 12px;
  --iris-radius-lg: 16px;
  --iris-radius-xs: 4px;
  --iris-radius-xl: 20px;
  --iris-radius-pill: 999px;
  --iris-color-white: #ffffff;
  --iris-color-black: #161616;
  --color-primary-light-blue: #def1fa;
  --color-primary-indigo: #0013a2;
  --color-primary-white: #ffffff;
  --color-secondary-medium-blue: #5099d3;
  --color-secondary-better-way-blue: #0066be;
  --color-secondary-text-blue: #323d54;
  --color-secondary-gray-100: #eef2f9;
  --color-secondary-gray-200: #dde1ea;
  --color-secondary-gray-300: #c5cbd6;
  --color-secondary-gray-400: #a7aebc;
  --color-secondary-gray-500: #848c9d;
  --color-tertiary-red: #d9230c;
  --color-tertiary-orange: #f36b00;
  --color-tertiary-yellow: #ffbe31;
  --color-tertiary-green-300: #a9eae1;
  --color-tertiary-green-400: #52d9ca;
  --color-tertiary-green-600: #00a08b;
  --color-tertiary-green-700: #007565;
  --iris-color-form-stroke-enabled: #a7aebc;
  --iris-color-form-stroke-hover: #5c667a;
  --iris-color-form-stroke-focus: #5099d3;
  --iris-color-form-stroke-focus-ring: #baddf0;
  --iris-color-form-stroke-valid: #a7aebc;
  --iris-color-form-stroke-invalid: #d9230c;
  --iris-color-form-stroke-invalid-focus-ring: #fdd0c3;
  --iris-color-form-stroke-invalid-disabled: #d9230c;
  --iris-color-form-stroke-disabled: #eef2f9;
  --iris-color-form-text-disabled: #323d54;
  --iris-color-form-text-invalid: #d9230c;
  --iris-color-form-text-valid: #323d54;
  --iris-color-form-text-placeholder: #6d7588;
  --iris-color-form-text-label: #323d54;
  --iris-color-form-text-value: #323d54;
  --iris-color-form-fill-enabled: #ffffff;
  --iris-color-form-fill-hover: #ffffff;
  --iris-color-form-fill-focus: #ffffff;
  --iris-color-form-fill-valid: #ffffff;
  --iris-color-form-fill-invalid: #fffaf8;
  --iris-color-form-fill-invalid-disabled: #fffaf8;
  --iris-color-form-fill-disabled: #eef2f9;
  --iris-color-form-fill-checked: #0013a2;
}
