.base {
  padding: 0.5rem 0 1rem 0;
}

.inputBase {
  display: flex;
  align-items: center;
  gap: var(--iris-form-gap);
  cursor: pointer;
  position: relative;
  user-select: none;
}

.input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  width: 1.75rem;
  height: 1.75rem;
  border: 1px solid var(--iris-color-form-stroke-enabled);
  border-radius: var(--iris-radius-sm);
  background-color: var(--iris-color-form-background);
  transition: all 0.2s;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkmark svg {
  display: none;
}

.input:checked ~ .checkmark svg {
  display: block;
}

.input:checked ~ .checkmark {
  background-color: var(--iris-color-indigo-700);
  border-color: var(--iris-color-indigo-700) !important;
}

.input:checked ~ .checkmark::after {
  display: block;
}

.input:hover ~ .checkmark {
  border-color: var(--iris-color-form-stroke-hover);
}

.input:focus ~ .checkmark {
  outline: 3px solid var(--iris-color-form-stroke-focus-ring);
  outline-offset: 0px;
  border-color: var(--iris-color-form-stroke-focus) !important;
}

.input:checked ~ .label {
  color: var(--iris-color-neutral-800);
}

.label {
  font-family: var(--iris-font-regular);
  font-size: var(--iris-font-size-base);
  color: var(--iris-color-form-text-placeholder);
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.disabled .input {
  cursor: not-allowed;
}

.error {
  margin: var(--iris-form-gap-sm) 0 var(--iris-form-gap) 0;
  color: var(--iris-color-form-text-invalid, #d9230c);
  font-family: var(--iris-font-regular);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
}

.inputError ~ .checkmark {
  border-color: var(--iris-color-form-stroke-invalid) !important;
  color: var(--iris-color-form-text-invalid) !important;
  background-color: var(--iris-color-form-fill-invalid) !important;
}

.inputError:hover ~ .checkmark {
  border-color: var(--iris-color-form-stroke-invalid) !important;
}

.inputError ~ .label {
  color: var(--iris-color-form-text-invalid);
}

.inputError:focus ~ .checkmark {
  outline: 3px solid var(--iris-color-form-stroke-invalid-focus-ring);
  border-color: var(--iris-color-form-stroke-invalid) !important;
}
