.base {
  display: flex;
  align-items: center;
  gap: var(--iris-form-gap);
  cursor: pointer;
  position: relative;
  user-select: none;
  margin-bottom: var(--iris-form-gap);
}

.input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  width: 1.75rem;
  height: 1.75rem;
  border: 1px solid var(--iris-color-form-stroke-enabled);
  border-radius: var(--iris-radius-sm);
  background-color: var(--iris-color-form-background);
  transition: all 0.2s;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkmark svg {
  display: none;
}

.input:checked ~ .checkmark svg {
  display: block;
}

.input:checked ~ .checkmark {
  background-color: var(--iris-color-indigo-700);
  border-color: var(--iris-color-indigo-700);
}

.input:checked ~ .checkmark::after {
  display: block;
}

.input:hover ~ .checkmark {
  border-color: var(--iris-color-form-stroke-hover);
}

.input:focus ~ .checkmark {
  outline: 3px solid var(--iris-color-form-stroke-focus-ring);
  outline-offset: 0px;
  border-color: var(--iris-color-form-stroke-focus) !important;
}

.label {
  font-family: var(--iris-font-regular);
  font-size: var(--iris-font-size-base);
  color: var(--iris-color-text-primary, #000);
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.disabled .input {
  cursor: not-allowed;
}
