.base {
  width: 100%;
  height: 3.5rem;
  font-family: var(--iris-font-medium);
  font-size: var(--iris-font-size-lg);
  color: var(--iris-color-white);
  border-radius: var(--iris-radius-pill);
  background-color: var(--iris-color-orange-600);
  cursor: pointer;
  border: none;
  transition: background-color 0.2s;
}

.base:hover {
  background-color: var(--iris-color-orange-700);
}

.base:focus {
  outline: none;
}

.base:focus-visible {
  outline: 3px solid var(--iris-color-orange-300);
  outline-offset: 0px;
}

.rounded {
  /* composes: base; */
  border-radius: var(--iris-radius-sm);
}

.pill {
  /* composes: base; */
  border-radius: var(--iris-radius-pill);
}

.primary {
  composes: base;
}

.secondary {
  composes: base;
  color: var(--iris-color-indigo-600);
  background: transparent;
  border: 2px solid var(--iris-color-indigo-600);
}

.secondary:hover {
  color: var(--iris-color-indigo-700);
  background: transparent;
  border: 2px solid var(--iris-color-indigo-700);
}

.secondary:focus {
  outline: none;
}

.secondary:focus-visible {
  outline: 3px solid var(--iris-color-indigo-300);
  outline-offset: 0px;
}
