.base {
  flex: 0 0 auto; /* don’t grow, don’t shrink weirdly */
  align-self: flex-start; /* optional: avoid cross-axis stretch */
  margin: 0;
  padding: 0 2rem;
  height: 3.5rem;
  font-family: var(--iris-font-medium);
  font-size: var(--iris-font-size-lg);
  color: var(--iris-color-white);
  border-radius: var(--iris-radius-pill);
  background-color: var(--iris-color-orange-600);
  cursor: pointer;
  border: none;
  transition: background-color 0.2s;
}

.base:not(:disabled):hover {
  background-color: var(--iris-color-orange-700);
}

.base:focus {
  outline: none;
}

.base:focus-visible {
  outline: 3px solid var(--iris-color-orange-600);
  outline-offset: 2px;
}

.rounded {
  border-radius: var(--iris-radius-sm);
}

.pill {
  border-radius: var(--iris-radius-pill);
}

.primary {
  composes: base;
}

.secondary {
  composes: base;
  color: var(--iris-color-indigo-600);
  background: transparent;
  border: 2px solid var(--iris-color-indigo-600);
}

.secondary:hover {
  color: var(--iris-color-indigo-700);
  background: transparent;
  border: 2px solid var(--iris-color-indigo-700);
}

.secondary:focus {
  outline: none;
}

.secondary:focus-visible {
  outline: 3px solid var(--iris-color-indigo-300);
  outline-offset: 0px;
}

button:disabled {
  cursor: not-allowed;
  color: var(--iris-color-neutral-800);
  border-color: var(--iris-color-neutral-300);
  border-radius: var(--iris-radius-pill);
  background: var(--iris-color-neutral-300);
}

button:disabled:hover {
  transform: none;
  box-shadow: none;
}
