.base {
  width: 100%;
  height: 3.5rem;
  /* padding: 1.5rem 0.8125rem 0.5rem 0.875rem; */
  font-family: var(--iris-font-medium);
  font-size: var(--iris-font-size-lg);
  color: var(--iris-color-white);
  border-radius: var(--iris-radius-pill);
  /* border: 2px solid var(--iris-color-indigo-600); */
  background-color: var(--iris-color-orange-600);
  cursor: pointer;
  border: none;
}

.rounded {
  composes: base;
  border-radius: var(--iris-radius-sm);
}

.pill {
  composes: base;
  border-radius: var(--iris-radius-pill);
}
