.base {
  margin-bottom: var(--iris-form-gap);
}

.label {
  font-family: var(--iris-font-medium);
  font-size: var(--iris-font-size-base);
  color: var(--iris-color-form-text-label);
  margin-bottom: 0.75rem;
}

.group {
  display: flex;
}

.vertical {
  flex-direction: column;
  gap: 0.75rem;
}

.horizontal {
  flex-direction: row;
  gap: 1.5rem;
  flex-wrap: wrap;
}
