@font-face {
  font-family: "Regular";
  src: url("../fonts/GT-Walsheim-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Medium";
  src: url("../fonts/GT-Walsheim-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

html,
body {
  margin: 0 auto;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--iris-color-neutral-200);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  margin-bottom: 2rem;
  color: var(--iris-color-indigo-700);
  font-family: var(--iris-font-medium);
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: var(--iris-color-indigo-700);
  font-family: var(--iris-font-medium);
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

h3 {
  border-top: 2px solid var(--iris-color-neutral-600);
  padding-top: 1rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  color: var(--iris-color-neutral-700);
  font-family: var(--iris-font-medium);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul li {
  margin-bottom: 1rem;
}

a {
  font-family: var(--iris-font-regular);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  color: var(--iris-color-indigo-600);
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 10%;
  text-underline-offset: 30%;
  text-underline-position: from-font;
  text-decoration-color: var(--iris-color-indigo-500);
}

a:hover {
  color: var(--iris-color-indigo-700);
  text-decoration-color: var(--iris-color-indigo-700);
}
