/* @import "../../app/design-tokens/primitives.css"; */

.base {
  position: relative;
  margin-bottom: var(--iris-form-gap);
}

.input {
  width: 100%;
  height: 3.5rem;
  padding: 1.5rem 0.8125rem 0.5rem 0.875rem;
  border: 1px solid var(--iris-color-form-stroke-enabled);
  border-radius: var(--iris-radius-sm);
  font-family: var(--iris-font-regular);
  font-size: var(--iris-font-size-base);
  transition: border-color 0.2s;
}

.input:focus {
  outline: 3px solid var(--iris-color-form-stroke-focus-ring);
  outline-offset: 0px;
  border-color: var(--iris-color-form-stroke-focus);
}

.label {
  position: absolute;
  left: 0.8125rem;
  top: 50%;
  transform: translateY(-50%);
  font-family: var(--iris-font-regular);
  font-size: var(--iris-font-size-base);
  color: var(--iris-color-form-text-placeholder);
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}

.labelFloating {
  left: 0.9375rem;
  top: 0.9375rem;
  font-family: var(--iris-font-medium);
  font-size: var(--iris-font-size-sm);
  color: var(--iris-color-form-text-label);
}

.error {
  display: none;
  margin-top: var(--iris-form-gap);
  color: var(--iris-color-form-text-invalid, #d9230c);
  font-family: var(--iris-font-regular);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 16.25px */
}
