.base {
  margin-bottom: var(--iris-form-gap);
}

.inputBase {
  position: relative;
}

.input {
  width: 100%;
  height: 3.5rem;
  padding: 1.625rem 0.8125rem 0.5rem 0.875rem;
  border: 1px solid var(--iris-color-form-stroke-enabled);
  border-radius: var(--iris-radius-sm);
  font-family: var(--iris-font-regular);
  font-size: var(--iris-font-size-base);
  transition: border-color 0.2s;
}

.disabled {
  composes: input;
  background-color: var(--iris-color-form-fill-disabled);
  border-color: var(--iris-color-form-stroke-disabled);
  color: var(--iris-color-form-text-disabled);
  cursor: not-allowed;
}

.input:hover:not(:disabled) {
  border-color: var(--iris-color-form-stroke-hover);
}

.input:focus {
  outline: 3px solid var(--iris-color-form-stroke-focus-ring);
  outline-offset: 0px;
  border-color: var(--iris-color-form-stroke-focus) !important;
}

.label {
  position: absolute;
  left: 0.8125rem;
  top: 50%;
  transform: translateY(-50%);
  font-family: var(--iris-font-regular);
  font-size: var(--iris-font-size-base);
  color: var(--iris-color-form-text-placeholder);
  pointer-events: none;
  transition:
    top 0.2s ease-in-out,
    left 0.2s ease-in-out,
    font-size 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

.labelFloating {
  left: var(--iris-floating-label-left);
  top: var(--iris-floating-label-top);
  font-family: var(--iris-font-medium);
  font-size: var(--iris-font-size-sm);
  color: var(--iris-color-form-text-label);
}

.error {
  margin: var(--iris-form-gap-sm) 0 0 0;
  color: var(--iris-color-form-text-invalid, #d9230c);
  font-family: var(--iris-font-regular);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
}

.inputError {
  border-color: var(--iris-color-form-stroke-invalid);
  color: var(--iris-color-form-text-invalid);
  background-color: var(--iris-color-form-fill-invalid);
}

.inputError:hover {
  border-color: var(--iris-color-form-stroke-invalid) !important;
}

.inputError ~ .label {
  color: var(--iris-color-form-text-invalid);
}

.inputError:focus {
  outline: 3px solid var(--iris-color-form-stroke-invalid-focus-ring);
  border-color: var(--iris-color-form-stroke-invalid) !important;
}

.icon {
  position: absolute;
  right: 1rem;
  top: 60%;
  transform: translateY(-60%);
  pointer-events: none; /* Make icon non-clickable, or remove if clickable */
}

.ccIcon {
  position: absolute;
  right: 1rem;
  top: 60%;
  transform: translateY(-60%);
  pointer-events: none; /* Make icon non-clickable, or remove if clickable */
}

.inputError ~ .icon svg path:not(g path) {
  /* stroke: red !important; */
  stroke: var(--iris-color-red-600) !important;
  fill: transparent !important;
}

.inputError ~ .icon svg g path {
  fill: var(--iris-color-red-600) !important;
}

.inputError ~ .icon svg rect {
  fill: var(--iris-color-red-600) !important;
}
