.base {
  position: relative;
  margin-bottom: var(--iris-form-gap);
}

.textarea {
  width: 100%;
  min-height: 6rem;
  padding: 1.5rem 0.8125rem 0.5rem 0.875rem;
  border: 1px solid var(--iris-color-form-stroke-enabled);
  border-radius: var(--iris-radius-sm);
  font-family: var(--iris-font-regular);
  font-size: var(--iris-font-size-base);
  transition: border-color 0.2s;
  resize: vertical;
}

.disabled {
  composes: textarea;
  background-color: var(--iris-color-form-fill-disabled);
  border-color: var(--iris-color-form-stroke-disabled);
  color: var(--iris-color-form-text-disabled);
  cursor: not-allowed;
  resize: none;
}

.textarea:hover:not(:disabled) {
  border-color: var(--iris-color-form-stroke-hover);
}

.textarea:focus {
  outline: 3px solid var(--iris-color-form-stroke-focus-ring);
  outline-offset: 0px;
  border-color: var(--iris-color-form-stroke-focus);
}

.label {
  position: absolute;
  left: 0.8125rem;
  top: 1.75rem;
  transform: translateY(-50%);
  font-family: var(--iris-font-regular);
  font-size: var(--iris-font-size-base);
  color: var(--iris-color-form-text-placeholder);
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}

.labelFloating {
  left: 0.9375rem;
  top: 0.9375rem;
  /* transform: translateY(0); */
  font-family: var(--iris-font-medium);
  font-size: var(--iris-font-size-sm);
  color: var(--iris-color-form-text-label);
}
