.base {
  display: flex;
  align-items: center;
  gap: var(--iris-form-gap);
  cursor: pointer;
  position: relative;
  user-select: none;
}

.input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio {
  width: 1.75rem;
  height: 1.75rem;
  border: 1px solid var(--iris-color-form-stroke-enabled);
  border-radius: 50%;
  background-color: var(--iris-color-form-background);
  transition: all 0.2s;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.radio::after {
  content: "";
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: white;
  transform: scale(0);
  transition: transform 0.2s;
}

.input:checked ~ .radio {
  background-color: var(--iris-color-indigo-700);
  border-color: var(--iris-color-indigo-700);
}

.input:checked ~ .radio::after {
  transform: scale(1);
}

.input:focus ~ .radio {
  outline: 3px solid var(--iris-color-form-stroke-focus-ring);
  outline-offset: 0px;
}

.radio:hover {
  border-color: var(--iris-color-form-stroke-hover);
}

.label {
  font-family: var(--iris-font-regular);
  font-size: var(--iris-font-size-base);
  color: var(--iris-color-neutral-800);
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.disabled .input {
  cursor: not-allowed;
}
