.page {
  background-color: var(--iris-color-neutral-200);
}

.desktop {
  position: relative;
  background-color: var(--iris-color-indigo-700);
}

.padded {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem 1rem 1rem;
}

.paddedWhite {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 1rem 1rem 1rem;
  background-color: white;
}

.padded h1 {
  margin: 0;
  padding: 0 0 0 0.5rem;
  color: white;
  font-size: 1.5rem;
}

.count {
  margin: 0;
  padding: 0 0 0 0.5rem;
  color: white;
  font-size: 1.5rem;
}

.mobile {
  width: 375px;
  margin: 0 auto;
  background-color: var(--iris-color-white);
}

.form {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: white;
  padding: 1.5rem;
  height: 100%;
  margin-top: 5rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.heading {
  font-family: var(--iris-font-medium);
  font-size: var(--iris-font-size-lg);
  color: var(--iris-color-indigo-700);
  margin: 0;
}

.masthead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
